<li>
    <div class="song">
    <div class="song1">
        <div class="song2">#<%= song.rank %> </div>
        (<%= song.streams %>)
    </div>
    <div class="song3">
<div class="song4">
    <%= song.title %> </div>
    <div class="song5">
    <%= song.artist %></div>
    </div>
    <div class="song7">
    Publication date: <%= song.publicationDate %> 
    </div>
    </div>  
</li>